body{
	background: linear-gradient(rgba(50,50,50, 0.6),rgba(50,50,50, 0.6)), url(image.jpeg);
	background-size: cover;
	background-position: center;
}

.newsupload-box{
	max-width: 550px;
	float: none;
	margin: 160px auto;
	
}

.data-field{
	background: rgba(211,211,211, 0.7);
	padding: 20px;
	
}
.form-control{
	background-color: transparent !important;
}